@using CodeHollow.FeedReader
@model List<FeedItemWithImage>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home - fourHorsemen_Online_Video_Game_Database";
}

<div class="container">
    <h1 class="text-center">Welcome to the fourHorsemen's Video Game Database</h1>
</div>

<div class="container">
    <br />
    <h2 class="text-center">Latest Game News</h2>
    <br />
    <br />
    @foreach (var news in Model)
    {
        <div class="news-item">
            <h4><a href="@news.Link" target="_blank">@news.Title</a></h4>
            @if (!string.IsNullOrEmpty(news.ImageUrl))
            {
                <img src="@news.ImageUrl" alt="News Image" style="max-width: 100%; height: auto;" />
            }
            <p>@Html.Raw(news.Description)</p>
            <hr />
        </div>
    }
</div>

<!-- Pagination Controls -->
<div class="container text-center">
    @if (ViewBag.Pagination.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.Pagination.CurrentPage - 1 })" class="btn btn-primary">Previous</a>
    }

    <!-- Display Page Numbers -->
    @for (var i = 1; i <= ViewBag.Pagination.TotalPages; i++)
    {
        <a href="@Url.Action("Index", new { page = i })" class="btn btn-secondary">@i</a>
    }

    @if (ViewBag.Pagination.CurrentPage < ViewBag.Pagination.TotalPages)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.Pagination.CurrentPage + 1 })" class="btn btn-primary">Next</a>
    }
</div>

<style>
    .news-item {
        text-align: center;
        margin-bottom: 20px;
    }

        .news-item img {
            max-width: 80%; /* Adjust width for better fitting images */
            height: auto;
            margin-bottom: 10px;
        }

    .pagination a {
        margin: 0 10px;
    }
</style>
